* {
  max-width: 1600px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
}

.navbar {
  background-color: #fff;
}

/*.navbar-nav {
  margin-left: 160px;
} */

.navbar-nav .nav-link {
  color: #6a7ec5;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: white;
  background-color: #6a7ec5;
}

/* Add this section for dropdown hover functionality */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Adjust this if there's an unwanted gap */
}

/* Ensure dropdown menu is shown properly */
.dropdown-menu {
  display: none;
  position: absolute;
  will-change: transform;
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
  background-color: white;
}

.dropdown-menu .dropdown-item {
  color: #6a7ec5;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  color: white;
  background-color: #6a7ec5;
}

.title {
  position: relative;
  width: 1700px;
  height: 300px;
}
.title img {
  max-width: 100%;
  height: 100%;
}

.topic h4 {
  text-align: left;
  font-size: 34px;
  font-weight: bold;
}
.footer {
  color: rgb(114, 113, 113);
  background-color: #d3d3d3;
}

.footer1 h4,
.footer2 h4,
.footer3 h4,
.footer4 h4 {
  text-align: left;
}

.footer1,
.footer2,
.footer3,
.footer4 {
  text-align: left;
}

.socialmedia {
  display: flex;
  justify-content: center; /* Center the social icons horizontally */
  margin-top: 30px; /* Add some padding for spacing */
}

.social-icons a {
  margin-right: 10px; /* Add margin between each social icon */
}

.social-icons {
  display: flex;
  justify-content: space-around; /* Distribute space between each icon */
}

.social-icons img {
  width: 40px; /* Set the width of the icons */
  height: 40px;
  margin-left: 10px;
  margin-right: 10px; /* Set the height of the icons */
}
.footer a {
  text-decoration: none;
  color: rgb(114, 113, 113); /* Remove underline for all links in the footer */
}

.footer p {
  /* Initial text color */
  transition: color 0.3s; /* Smooth transition for color */
}

.footer a:hover {
  color: black;
  text-decoration: underline; /* Text color on hover */
}
